---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-7" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      As a Shopify Front-End Developer,
      <br />
      My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>Liquid</li>
        <li>JavaScript</li>
        <li>jQuery</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Tailwind</li>
        <li>React</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      I offer comprehensive support for enhancing Shopify store themes. I quickly resolve my customers' issues with fast and tailored solutions.
    </p>
    <p class="text-sm font-light">
      Apart from my coding work, I have a strong passion for producing and DJing music, immersing myself in the vibrant atmosphere of festivals, 
      prioritizing fitness to maintain a balanced lifestyle, and exploring new destinations through travel. 
      I find joy in blending various music genres together, striving to create a seamless fusion that resonates with audiences.
    </p>
  </div>
</Card>
